body{
    font-family:"Source Serif Pro", 'Times New Roman', serif;
}

h1, h2{
    font-family:"Bebas Neue", Arial, sans-serif;
}

.portal-pg-header{
    display: grid;
    grid-template-columns: .50fr 2fr;
    color: White;
    background-color: #174F28;
    border-radius: 20px;
    border: 5px double;
    font-family:"Bebas Neue", Arial, sans-serif;
    align-items: center;
}

.portrait{
    grid-column: 1;
    justify-self: center;
}

.portrait img{
    border-radius: 15px;
    max-width: 100%;
    display: block;
}

.portal-pg-header h1{
    margin-right:23%;
    padding: 5px;
    font-size: 2rem;
    grid-column: 2;
    justify-self: center;
}

main{
    display: block
}

.project-header{
    margin-block-start: .50em;
    margin-block-end: .50em;
    font-size:1rem;
    border-bottom: 3px solid black;
}

ul{
    list-style: none;
}

li a{
    text-decoration:none;
    font-weight: bolder;
}

li a:hover{
    color:#13f138;
    background-color:#396E94;
}

footer{
    display: grid;
    grid-template-rows: 1fr;
    color: white;
    background-color: #174F28;
    border-radius: 20px;
    border: 5px double;
}

footer p{
    justify-self:center;
}

#lastmod{
    color:yellow;
}