body {
    max-width: 960px;
    margin: 0 auto;
}
header div{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
}

header picture img[data-src] {
    filter: blur(.04em);
}

picture img{
    filter: blur(0em);
    transition: filter 0.2s;
}

footer{
    text-align: center;
    background-color: red;
    color: white;
}