/*Margins for the entire page*/
#content{
    margin: 0 3% 0 3%;
}

body{
    font-family:"EB Garamond", "Garamond", serif;
    margin: 1% 2% 1% 2%;
}

h1, h2, h3, h4, th, nav, footer p{
    font-family: "Lobster", "Lucida Handwriting", cursive;
}
/* Event Banner */
#eventbanner{
    display: block;
    text-align: center;
    font-family: "Lobster", "Lucida Handwriting", cursive;
    color: aliceblue;
    background-color: red;
}
/* Header */
header{
    display: grid;
    grid-template-columns: 160px 1fr 1fr 1fr;
    background-image: url('../images/background2.webp');
    border: 1px solid black;
    border-radius: 20px;
}

.logo{
    padding:3px;
}

.logo img{
    border-radius: 15px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.3);
}

header h3{
    grid-column: 2;
    grid-row: 1;
    color:darkblue;
}

/*Navigation*/
nav{
    background-color: transparent;
    grid-column: 4;
    grid-row: 1;
    padding-top: 2.5rem;
    justify-self: start;
}

nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: darkblue;
    border-top: 1px solid rgba(0,0,0,.5);
}

nav ul li.active{
    background-color: rgba(0,0,0,.2);
    color: darkred;
}

nav ul li a:hover {
    background-color: rgba(236, 225, 65, 0.2);
}

nav ul{
    display:none;
}

nav ul.open{
    display: block;
}

#menubtn span:nth-child(1) {display: block;}
#menubtn span:nth-child(2) {display: none;}

#menubtn.open span:nth-child(1) {display: none;}
#menubtn.open span:nth-child(2) {display: block;}

.social{
    grid-column: 3;
    grid-row: 1;
    padding-top: 3rem;
    justify-self: end;
}

header p{
    grid-row: 3;
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
    color: darkblue;
}

/*Main/Body*/
.indexgrid{
    display: block;
    margin:0 auto;
    padding-top: .5rem;
}

article, section{
    background-color: #F5F5DC;
    border: 1px solid black;
    margin-bottom: .5rem;
}

article h3, .spotlight section h4, section h3{
    padding-left: .3rem;
    color: darkred;
}

/* Beginning of weather app css */
.weather{
    display: flex;
    flex-direction: column;
}

.weather p{
    margin-left: 2%;
}

.weather picture{
    align-self: center;
}

/* Event beginning */

.event{
    display: flex;
    flex-direction: column;
}

.meeting{
    text-align: center;
    margin: 0 2% 0 2%;
}

.event picture {
    justify-self: center;
    align-self: center;
}

/* Beginning of hero/call to action */

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}

.herobtn{
    display: block;
    grid-column: 3;
    grid-row: 2;
    margin:.3rem;
    width: 75%;
    justify-self: end;
    align-self: end;
    border-radius: 15px;
    background-color: darkblue;
    color: white;
}

.hero h3{
    position: absolute;
}

.hero picture{
    padding: 0;
    margin: 0;
    grid-column: 1/4;
    grid-row: 1/3;
}

.hero picture img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Spotlight CSS */

.spotlight{
    display: block;
    padding: .2rem;
}

.spotlight section{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.spotlight section:nth-child(3){
    display: none;
}

.spotlight section p, .spotlight section picture{
    justify-self: center;
    align-self: center;
}

.spotlight img{
    margin-top: .5rem;
}

/* border lines in the spotlight sections*/
.solid{
    border-top: 3px solid rgba(0,0,0,.5);
    margin: 0 3px 0 3px;
}

/* Join CSS*/

.join {
    display: none;
}

.joinbtn{
    display: none;
    background-color: darkblue;
    color: white;
}

/* News css */
.news{
    text-align: center;
}

/* Footer section */

footer{
    display:block;
    text-align: center;
    background-image: url('../images/background2.webp');
    border-radius: 20px;
    border: 1px solid black;
    color: darkblue;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

footer p{
    border-top: 2px solid rgba(0,0,0,.5);
}

.footerlogo img{
    border-radius: 15px;
    margin: 2%;
    width: 50%;
    border: 1px solid rgba(0,0,0,.3);
}

/***************DISCOVERY PAGE BEGINNING************/
.discovermain{
    display: block;
    margin:0 auto;
}

.discoverheading{
    display: block;
    background-image: url('../images/background2.webp');
    color: darkblue;
    border-radius: 15px;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.discoverheading h1{
    margin: 0;
    margin-left: 3%;
}

.discovermain section{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: darkblue;
}

.discovermain section h3{
    color: white;
} 

.discovermain section p{
    display: block;
}

.text{
    color: white;
}

.discovermain section .container{
    margin-bottom: 10px;
}

/*********************Join Form CSS*******************/
form fieldset{
    margin: 1rem 0;
    border: 2px solid darkblue;
    border-radius: 20px;
    padding: .3rem 1%;
    background-color: #F5F5DC;
}

.joinheader{
    color: darkblue;
    margin-left: 3%;
}

form legend{
    color: darkred;
    margin: 0 1.2rem;
    padding: 0 .2rem;
    font-size: 1rem;
}

.bdGrid{
    display: flex;
    flex-direction: column;
}

.bdGrid textarea{
    background-color: rgba(0,0,0,.1);
    border: solid 1px lightgrey; 
    border-radius: 5px;
}

.ltalign, form div{
    display: block;
    padding-top: .8rem;
    font-size: 1rem;
    color: darkblue;
}

.ltalign input{
    display: block;
    font-size: 1rem;
    border: solid 1px lightgrey;
    border-radius: 5px;
    padding: .8rem;
    max-width: 20rem;
    background-color: rgba(0,0,0,.1);
}

.ltalign input:required{
    border: red solid 3px;  
}

.ltalign input:required:valid{
    border: green solid 3px;
}

.sxs{
    display: block;
    padding: .8rem;
    color: darkblue;
    font-size: 1rem;
}

.membership{
    margin-top: 0;
    margin-bottom: 0;
}

.submitBtn{
    margin: .4rem 2%;
    border: none;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    width: 25%;
    max-width: 20rem;
    font-size: 1.75rem;
}