body{
    font-family:"EB Garamond", "Garamond", serif;;
}

h1, h2, h3, h4, th, nav, footer p{
    font-family: "Lobster", "Lucida Handwriting", cursive;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url('../images/background2.jpg');
    border: 1px solid black;
    border-radius: 20px;
}

nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav{
    background-color: transparent;
}

nav ul{
    list-style-type: none;
    padding: 0;
    padding-left: .2rem;
    margin: 0;
    display: none;
}

nav ul.open{display: block;}

nav ul li a{
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: darkblue;
    border-top: 1px solid rgba(0,0,0,.5);
}

nav ul li a:hover{
    background: rgba(0,0,0,.3)
}

nav ul li.active a{
    background-color: rgba(0,0,0,.2);
    color: darkred;
}

#menubtn span:nth-child(1){display: block;}
#menubtn span:nth-child(2){display: none;}

#menubtn.open span:nth-child(1){display: none;}
#menubtn.open span:nth-child(2){display: block;}

.logo{
    padding: .8rem;
}

.logo img{
    border-radius: 15px;
    max-width: 100%;
    border: 1px solid rgba(0,0,0,.3);
}

.today{
    grid-row: 2;
}

main{
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #F5F5DC;
    border: 2px solid black;
    margin:0 auto;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: url('../images/background2.jpg');
    border-radius: 20px;
    border: 1px solid black;
}

footer ul{
    list-style-type: none;
    padding: 0;
}

.contact-map{
    grid-column: 4;
}

footer p{
    grid-row:2;
    grid-column: 1/6;
    justify-self: center;
    border-top: 2px solid rgba(0,0,0,.5);
}