body{
    font-family: font-family: "EB Garamond", "Garamond", serif;;
}

h1, h2, h3, h4, th, nav, footer p{
    font-family: "Lobster", "Lucida Handwriting", cursive;
}

header{
    display: flex;
    background-image: url('../images/background2.jpg');
    justify-content: space-around;
}

nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav{
    background-image: url('../images/background2.jpg');
}

nav ul{
    list-style-type: none;
    padding: 0;
    padding-left: .2rem;
    margin: 0;
    display: none;
}

nav ul.open{display: block;}

nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,.5);
}

nav ul li a:hover{
    background: rgba(0,0,0,.3)
}

nav ul li.active a{
    background-color: rgba(0,0,0,.2);
    color: white;
}

#menubtn span:nth-child(1){display: block;}
#menubtn span:nth-child(2){display: none;}

#menubtn.open span:nth-child(1){display: none;}
#menubtn.open span:nth-child(2){display: block;}

.logo img{
    padding: .3rem;
    border-radius: 15px;
    max-width: 100%;
    border: 1px solid rgba(0,0,0,.3);
}

.today{

}

main{
    background-color: #F5F5DC;
    border: 2px solid black;
    margin:0 auto;
}