/*60em is abour 960px at 16px font*/
@media only screen and (min-width: 60em){
    #content{
        max-width: 960px;
        margin: 0 auto;
    }

    nav ul li a {
        padding: .5rem 1rem;
    }

    
}