@media only screen and (min-width: 32.5em){
    nav ul { 
        display: flex;
    }

	nav ul li { 
        flex: 1 1 100%; 
    }

    h1, h2, h3 {
		font-size: 1.5rem;
	}

    nav a {
		font-size: 1rem;
        text-align: center;
	}

/************************************************ Index Page *******************************************************/

/************************************************ Target-Audience Page *******************************************************/

/************************************************ Color-Scheme Page *******************************************************/

/************************************************ Typography Page *******************************************************/

}